@mixin open-sans {
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
}

@mixin main($isBold: true) {
   @include open-sans;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.25rem;

   @if $isBold {
      font-weight: 600;
   }
}

@mixin H3 {
   @include open-sans;
   font-size: 1.25rem;
   font-weight: 700;
   line-height: 1.5rem;
}
